* {
    margin: 0;
    padding: 0;
    border: 2px;
    box-sizing: border-box;
}
/* Estilos del Navbar */
.nav-bar {
    font-size: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background-color: #9f3647;
}

.nav-bar li a {
    text-decoration: none;
    color: white;
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
}

.nav-bar li a:hover {
    color: white;
}
.linkNav {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
}
.linkNav:hover{
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.iniciarSesion {
    background-color: #181419;
    color: white;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.logo {
    margin-right: auto;
    margin-left: 2%;
}
.anclaLogo {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.2rem;
}

.menu {
    display: flex;
    align-items: center;
    margin-right: 3%;
}

.menu li {
    margin-right: 50px;
}

.menu li:last-child {
    margin-right: 0;
}

.open-menu {
    display: none;
}

.close-menu {
    display: none;
}
#check {
    display: none;
}
.fas .fa-bars {
    display: none;
}

body{
    background-color: black;
}
#banner {
    position: relative; /* Ensure the container is positioned */
    height: 400px;
    background-image: url('./public/img/banner_bg.jpg');
    background-size: cover;
    background-position: center;
}

#banner::after {
    content: ""; /* Required for pseudo-elements */
    position: absolute; /* Position the overlay */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity here */
    z-index: 1; /* Ensure the overlay is above the background image */
}

.mainTitle,
.subTitle {
    position: relative; /* Ensure the text is positioned relative to the banner */
    z-index: 2; /* Ensure the text is above the overlay */
}

.mainTitle {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.subTitle {
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

section{
    text-align:center;
    background-color: black;
    color: white;
    font-size: 20px;
}
footer{
    background-color: #9f3647;
    color: white;
    font-size: 20px;
}   
ul{
    list-style: none;
}
.cambio_inline li{
    display:inline;
}

ul li a {
    text-decoration: none;
}

hr{
    border: 1px solid #9f3647;
    width: 80%;
    margin: 0 auto;
      margin-top: 0px;
    margin-top: 40px;
  }




  @media screen and (max-width: 930px) {
    .menu {
        width: 100%;
        height: 100vh;
        display: none;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        margin-right: 0;
        text-align: center;
        background-color: rgba(159, 54, 71, 0.95);
        z-index: 999;
    }
    
    .menu li {
        padding: 60px 0;
        margin-bottom: 20px;
        display: block;
        margin-right: 0;
    }
    
    .open-menu {
        display: block;
        margin-right: 20px;
        font-size: 24px;
    }

  
    .close-menu {
        display: none;
        position: absolute; 
        top: 24px;
        right: 20px; 
        font-size: 24px;
        z-index: 1001;
    }

    .menu-open .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10vh;
        left: 0;
        right: 0;
        background-color: gray;
        padding: 10px;
        z-index: 1;
    }

    .menu-open .menu li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
