* {
    margin: 0;
    padding: 0;
    border: 2px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

/* Estilos del Navbar */
.nav-bar {position: fixed;
    top:0;
    right:0;
    left:0;
    font-size: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background-color: #9f3647;
    z-index:1;
}

.nav-bar li a {
    text-decoration: none;
    color: white;
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-style: normal;
}

.nav-bar li a:hover {
    color: white;
}
.linkNav {
    display: flex;
    justify-content: center; 
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 0.5rem 1.2rem;
    margin-left: 0px;
    transition: transform 0.3s, box-shadow 0.3s;
    width: auto; 
    height: 40px; 
    box-sizing: border-box; 
}

.linkNav:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: auto; 
    height: 40px; 
}

.linkNav.iniciarSesion {
    display: flex;
    background-color: #181419;
    color: white;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
    width: auto; 
    height: 40px; 
}
.linkNav.iniciarSesion:hover {
    background-color: #9f3647;
}
.logo {
    margin-right: auto;
    margin-left: 2%;
}


.anclaLogo {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 19px !important;
}
.anclaLogo:hover {
    display: inline-block;
    animation-duration: 2s;
    animation: swing 800ms; /* Combined animation property */
}

.menu {
    display: flex;
    align-items: center;
    margin-right: 3%;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.open-menu {
    display: none;
}

.close-menu {
    display: none;
}
#check {
    display: none;
}
.fas .fa-bars {
    display: none;
}
/*Estilos del Body*/
body{
    background-color: #181419;
}
section{
    text-align:center;
    background-color: #181419;
    color: white;
    font-size: 20px;
}
/*Estilos de la seccion1 con banner*/
.banner {
    position: relative; 
    background-image: url('./public/img/banner_bg.jpg');
    background-size:cover;
    background-position: center top;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 1; 
}
.banner.animate__zoomIn {
    animation-duration: 1s;
    animation-name: zoomInCustom; 
}

@keyframes zoomInCustom {
    from {
        transform: scale(0.8); 
        opacity: 0;
    }
    to {
        transform: scale(1); 
        opacity: 1;
    }
}

.registerButton {
    background-color: #9f3647;
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    transition: transform 0.3s, box-shadow 0.3s;
    z-index: 999;
}

.registerButton:hover {
      background-color: #9f3647;
      transform: scale(0.95);
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    }

.mainTitle,
.subTitle {
    position: relative; 
    z-index: 2; 
    margin-top: 3rem;
}

.mainTitle {
    font-size: 4rem;
    font-weight: 700;
    margin-top: 6rem;
}

.subTitle {
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.searchSection{
    margin-bottom: 10rem;
}

.searchTitle{
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 5rem;
}
.inputSearch{
    border: 2px solid white;
        border-radius: 25px;
        color: #000000;
        font-size: 1.2rem;
        height: 50px;
        margin: 40px 0px;
        outline: none;
        padding: 0px 20px;
        width: 500px;
}

.searchButton{
    background-color: #9f3647;
        display: inline-block;
        color: #ffffff;
        height: 50px;
        margin: 20px 10px;
        padding: 0 20px;
        border-radius: 25px;
        font-size: 1.2rem;
        font-weight: 700;
        border: 2px solid white;
        text-align: center;
        transition: transform 0.3s, box-shadow 0.3s;
}

.registerButton:hover {
      background-color: #9f3647;
      transform: scale(0.95);
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    }
  

    .searchButton {
      &:hover {
        background-color: #9f3647;
        transform: scale(0.95);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
      }
    

}

ul li a {
    text-decoration: none;
    color: white;
}
/*Separador*/
hr{
    border: 1px solid #9f3647;
    width: 80%;
    margin: 0 auto;
      margin-top: 0px;
    margin-top: 40px;
  }
  .cambio_inline li{
    display:inline;
}
.footerNav{
    position: relative;
    background-color: #9f3647;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 15vh;
    bottom: 0;
    color: #ffffff;
}
 
.footerNav ul {
    list-style: none; 
    display: flex; 
    align-items: center;
}

.footerNav ul li a {
    font-weight: 700;
    padding: 10px 20px; 
}

.admin {
    width: auto; 
    background-color: #181419;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 40px;
    box-sizing: border-box;
    margin-left: 1.5rem; 
}
.arrow{
    bottom: 5%; 
    right: 20px; 
    position: fixed;
    font-size: 25px;
    color: black;
    z-index: 10001;
}









  @media screen and (max-width: 930px) {
    .menu {
        width: 100%;
        height: 100vh;
        display: none;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        margin-right: 0;
        text-align: center;
        background-color: rgba(159, 54, 71, 0.95);
        z-index: 999;
    }
    
    .menu li {
        padding: 60px 0;
        margin-bottom: 20px;
        display: block;
        margin-right: 0;
    }
    
    .open-menu {
        display: block;
        margin-right: 20px;
        font-size: 24px;
    }

  
    .close-menu {
        display: none;
        position: absolute; 
        top: 24px;
        right: 20px; 
        font-size: 24px;
        z-index: 1001;
    }

    .menu-open .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10vh;
        left: 0;
        right: 0;
        background-color: gray;
        padding: 10px;
        z-index: 1;
    }

    .menu-open .menu li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 530px) {
    .inputSearch{
            width: 300px;
    }
}

@media screen and (max-width: 370px) {
.mainTitle{
    margin-top: 6rem;
    font-size: 3rem;
}
.subTitle{
    font-size: 1.5rem;
}
.registerButton {
    padding: 1rem 2rem;
    font-size: 0.9rem;
    font-weight: 500;
}
.searchTitle{
    font-size: 1.8rem;
    font-weight: 500;
}
.inputSearch{
    width: 200px;
}
.searchButton{
        font-size: 1rem;
        font-weight: 500;
}
}